@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background: black;
  color: white;
}

.ͼo,
.ͼo .cm-gutters,
.ͼo .cm-activeLine,
.ͼo .cm-activeLineGutter {
  background: #232323;
}

.learn-holder {
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}